* {
    font-family: 'ComicCode Nerd Font';
    font-weight: 600;
    font-size: 15px;
    outline-style: none;
    outline: none;
}

window {
    background-color: #0088CC;
}

#input {
    margin: 2px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #0088CC;
    background-color: #000;
    color: #fff;
    box-shadow: none;
}

#inner-box {
    background-color: #000;

}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #000;
}

#text {
  padding: 5px;
  color: #fff;
  margin: 3px;
}

#entry:selected {
    background-color: #6E6C7E;
}

.right {
    color: transparent;
}
