/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
  font-family: monospace;
  font-family: 'ComicMono Nerd Font';
  font-weight: 600;
  font-size: 16px;
  outline: none;
}

window {
  background-color: #225877;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 3px solid #225877;
  background-color: #323232;
  color: white;
  outline: none;
  box-shadow: none;
}

#input:focus {
  outline: none;
}

#inner-box {
  background-color: #323232;
}

#outer-box {
  margin: 5px;
  padding:20px;
  background-color: #323232;
}

#text {
  padding: 5px;
  color: white;
}

